page-play {
    .main-home-header{
        align-content: center;
        img {
            display: inline;
        }
        width: 90%;
        height: 10%;
        margin-bottom: 20%;
    }
    .minimized {
        margin-bottom: 5em;
    }
    .option-button {
        width: 80%;
        height: 14%;
    }
    .xilosa-font {
        font-family: "XILOSA";
        font-size: 150%;
    }
    .centralized {
        text-align: center;
    }
}
