page-result {
    .result {
        font-family: "XILOSA";
        font-size: 150%;
    }

    .centralized {
        text-align: center;
    }

    .source {
        text-align: right;
    }

    .source-text {
        font-family: 'XILOSA';
        font-size: 20%;
        font-style: italic;
    }
}
