page-oneplayer {
    .main-home-header{
        width: 100%;
        height: 40% !important;
        display: flex;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .xilosa-font {
        font-family: "XILOSA";
        font-size: 200%;
    }
    .step-button {
        width: 100%;
        display: inline-block;
        height: 100%;
    }
    .centralized {
        text-align: center;
        align-content: center;
    }
    .buttons-row {
        width: 100%;
        height: 18%;
    }
}
